
.bloc{
    margin:0 auto;
}
.bloc span{
    display:none;
}

#toolbox .bloc{
    margin:20px;
    /*box-shadow: 2px 2px 2px;*/
}
#toolbox .bloc span, #resources span{
    font-size: 80%;
    display:inline-block;
    margin-right: -11px;
    float: right;
    margin-top: -8px;
    background-color: rgba(0, 0, 255, 0.25);
    color: white;
    border-radius: 12px;
    line-height: 1.6;
    text-align: center;
    padding: 0 6px;
}

.wall{
    border-radius:2px;
    width: 19px;
    height: 19px;
}


.wall_steel{
    background-color: steelblue;
    box-shadow: 2px 2px 2px #633100;
}

.wall_wood{
    background-color:darkorange;
    box-shadow: 2px 2px 2px #253b53;
}

.wall_stone{
    background-color: grey;
    box-shadow: 2px 2px 2px #253b53;
}

.tower{
    border-radius : 50%;
    width:50px;
    height:50px;
    background-color:red;
    box-shadow: 2px 2px 2px #253b53;
}

#resources > div
{
    display:inline-block;
    margin-left:1em;
}

.resource{
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.wood{
    background-image: url(../img/resource/wood.svg);
}

.stone{
    background-image: url(../img/resource/stone.svg);
}

.steel{
    background-image: url(../img/resource/steel.svg);
}