
#board .bloc{
    margin:0 auto;
}
#toolbox .bloc{
    margin:20px;
    /*box-shadow: 2px 2px 2px;*/
}
#toolbox .bloc span{
    font-size: 80%;
    width: 21px;
    margin-right: -11px;
    float: right;
    margin-top: -8px;
    background-color: rgba(0, 0, 255, 0.25);
    color: white;
    border-radius: 50%;
    line-height: 1.6;
    text-align: center;
}

.wall{
    border-radius:2px;
    width:20px;
    height:20px;
}


.wall_steel{
    background-color:darkorange;
    box-shadow: 2px 2px 2px #633100;
}

.wall_wood{
    background-color: steelblue;
    box-shadow: 2px 2px 2px #253b53;
}

.wall_stone{
    background-color: grey;
    box-shadow: 2px 2px 2px #253b53;
}

.tower{
    border-radius : 50%;
    width:50px;
    height:50px;
    background-color:red;
    box-shadow: 2px 2px 2px #253b53;
}