main{
    display:flex;
}
#board table{
    border-collapse: collapse;
    background: #3c8454;
    width: 600px;
}
#board td{
    border:1px solid green;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    font-size: 0;
    position:relative;
    text-align: center;
}

#toolbox{
    display:flex;
    width: 300px;
    background: green;
    flex-wrap: wrap;
    align-content: flex-start;
}

#board.render table{
    background:transparent
}
#board.render td{
    border:0
}
#board.render .bloc{
    background-color:transparent;
    box-shadow: 0 0;
}
