
}
#board table{
    border-collapse: collapse;
    background: #3c8454
}
#board td{
    border:1px solid green;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    font-size: 0;
    position:relative;
    text-align: center;
}

#toolbox{
    display:flex;
    width: 300px;
    background: green;
    flex-wrap: wrap;
    align-content: flex-start;
}
