main{
    margin: 0 auto;
    width: 1200px;
}

#GUI {
    flex-basis: 550px;
}

GUI ul {
    width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/*--------------------- BOARD ---------------------*/

table{
    border-collapse: collapse;
    background: url(../images/texture/grass.png);
    /* box-sizing: border-box; */
}
td{
    width: 20px;
    height: 20px;
    border:0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

/*--------------------- EDIT BOARD ---------------------*/
#edit-board{
    overflow: visible;
}

#edit-board td {
    border: 1px solid;
}


/*--------------------- RENDERER ---------------------*/
#render-board{
    width: 600px;
    overflow: visible;
    position: absolute;
    display:none;
}
#render-board table{
}


/*--------------------- TOOLBOX ---------------------*/
#toolbox{
    display:flex;
    flex-basis: 290px;
    background: green;
    flex-wrap: wrap;
    align-content: flex-start;
}

/*------------------------ Ressource-------------------------*/
#stock .bloc {
    margin: 0;
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
}

#stock input {
    width: 4em;
}

/*--------------------- Caracters Stats ---------------------*/

.characterStats {
    width: 250px;
    line-height: .9;
}

