.block {
  margin: 0 auto;
}
#board .quantity {
  display: none;
}
#inventory > div {
  margin: 10px;
}
.quantity {
  background-color: rgba(0, 0, 255, 0.6);
  display: inline-block;
  border-radius: 12px;
  margin-right: -9px;
  margin-top: -7px;
  float: right;
  width: 20px;
  text-align: center;
  line-height: 1.8;
  font-size: 70%;
  color: white;
}
#edit-board .wall,
#inventory .wall,
#edit-board .tower,
#inventory .tower {
  border-radius: 2px;
  width: 40px;
  height: 40px;
}
#edit-board .steel_wall,
#inventory .steel_wall {
  background-color: steelblue;
  box-shadow: 2px 2px 2px #633100;
  opacity: .8;
}
#edit-board .wood_wall,
#inventory .wood_wall {
  background-color: darkorange;
  box-shadow: 2px 2px 2px #253b53;
}
#edit-board .stone_wall,
#inventory .stone_wall {
  background-color: grey;
  box-shadow: 2px 2px 2px #253b53;
}
#edit-board .wood_tower,
#inventory .wood_tower {
  border-radius: 50%;
  background-color: red;
  box-shadow: 2px 2px 2px #253b53;
}
.player {
  border-radius: 50%;
  background-color: pink;
  box-shadow: 2px 2px 2px #253b53;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
}
#edit-board .tower {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: red;
  box-shadow: 2px 2px 2px #253b53;
  position: absolute;
  margin-top: -40px;
  margin-left: -40px;
}
#resources > div {
  display: inline-block;
  margin-left: 1em;
}
.resource {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.wood {
  background-image: url(../images/resource/wood.svg);
}
.stone {
  background-image: url(../images/resource/stone.svg);
}
.steel {
  background-image: url(../images/resource/steel.svg);
}
/***************************** jQerury UI *****************************/
.ui-draggable-dragging {
  opacity: 0.5;
}
.ui-draggable-dragging span {
  display: none;
}
/*****************************    DRAG    *****************************/
/* todo: comment */
/*.occupied:before {
	content: ".";
	position: absolute;
	z-index: 200;
	line-height: 0;
	top: 0;
	left: 0;
}*/
.hoverFree {
  background-color: rgba(0, 255, 0, 0.6);
}
.hoverBusy {
  background-color: rgba(255, 0, 0, 0.6);
}
/***************************** RENDER-BOARD *****************************/
#render-board td {
  background: url('../images/texture/tileset.png') bottom right;
}
#render-board .wood_wall {
  background-color: transparent;
  box-shadow: none;
}
#render-board .wall.wood_wall.alone {
  background-position: 0px -160px;
}
#render-board .wall.wood_wall.top {
  background-position: -240px -240px;
}
#render-board .wall.wood_wall.top-right {
  background-position: -160px -80px;
}
#render-board .wall.wood_wall.top-right-left {
  background-position: -40px -80px;
}
#render-board .wall.wood_wall.top-right-bottom {
  background-position: -160px -200px;
}
#render-board .wall.wood_wall.top-right-bottom-left {
  background-position: -80px -160px;
}
#render-board .wall.wood_wall.top-bottom {
  background-position: -40px -40px;
}
#render-board .wall.wood_wall.top-bottom-left {
  background-position: -240px -200px;
}
#render-board .wall.wood_wall.top-left {
  background-position: -240px -80px;
}
#render-board .wall.wood_wall.right {
  background-position: 0px 0px;
}
#render-board .wall.wood_wall.right-bottom {
  background-position: -160px 0px;
}
#render-board .wall.wood_wall.right-bottom-left {
  background-position: -40px 0px;
}
#render-board .wall.wood_wall.right-left {
  background-position: -200px 0px;
}
#render-board .wall.wood_wall.bottom-left {
  background-position: -240px 0px;
}
#render-board .wall.wood_wall.left {
  background-position: -80px 0px;
}
#render-board .wall.wood_wall.bottom {
  background-position: -240px -160px;
}
#render-board .wall.stone_wall.alone {
  background-position: -600px -160px;
}
#render-board .wall.stone_wall.top {
  background-position: -840px -240px;
}
#render-board .wall.stone_wall.top-right {
  background-position: -760px -80px;
}
#render-board .wall.stone_wall.top-right-left {
  background-position: -640px -80px;
}
#render-board .wall.stone_wall.top-right-bottom {
  background-position: -760px -200px;
}
#render-board .wall.stone_wall.top-right-bottom-left {
  background-position: -680px -160px;
}
#render-board .wall.stone_wall.top-bottom {
  background-position: -760px -40px;
}
#render-board .wall.stone_wall.top-bottom-left {
  background-position: -840px -200px;
}
#render-board .wall.stone_wall.top-left {
  background-position: -840px -80px;
}
#render-board .wall.stone_wall.right {
  background-position: -600px 0;
}
#render-board .wall.stone_wall.right-bottom {
  background-position: -760px 0;
}
#render-board .wall.stone_wall.right-bottom-left {
  background-position: -640px 0;
}
#render-board .wall.stone_wall.right-left {
  background-position: -800px 0;
}
#render-board .wall.stone_wall.bottom-left {
  background-position: -840px 0;
}
#render-board .wall.stone_wall.left {
  background-position: -680px 0;
}
#render-board .wall.stone_wall.bottom {
  background-position: -840px -160px;
}
#render-board .wall.steel_wall.alone {
  background-position: -280px -160px;
}
#render-board .wall.steel_wall.top {
  background-position: -520px -240px;
}
#render-board .wall.steel_wall.top-right {
  background-position: -440px -80px;
}
#render-board .wall.steel_wall.top-right-left {
  background-position: -320px -80px;
}
#render-board .wall.steel_wall.top-right-bottom {
  background-position: -440px -200px;
}
#render-board .wall.steel_wall.top-right-bottom-left {
  background-position: -360px -160px;
}
#render-board .wall.steel_wall.top-bottom {
  background-position: -440px -40px;
}
#render-board .wall.steel_wall.top-bottom-left {
  background-position: -520px -200px;
}
#render-board .wall.steel_wall.top-left {
  background-position: -520px -80px;
}
#render-board .wall.steel_wall.right {
  background-position: -280px 0;
}
#render-board .wall.steel_wall.right-bottom {
  background-position: -440px 0;
}
#render-board .wall.steel_wall.right-bottom-left {
  background-position: -320px 0;
}
#render-board .wall.steel_wall.right-left {
  background-position: -480px 0;
}
#render-board .wall.steel_wall.bottom-left {
  background-position: -520px 0;
}
#render-board .wall.steel_wall.left {
  background-position: -360px 0;
}
#render-board .wall.steel_wall.bottom {
  background-position: -520px -160px;
}
/*------------------------------- TOWERS ------------------------------------*/
#render-board .tower.wood_tower.right-bottom {
  background-position: 0px -240px;
}
#render-board .tower.wood_tower.right-bottom-left {
  background-position: -40px -240px;
}
#render-board .tower.wood_tower.bottom-left {
  background-position: -80px -240px;
}
#render-board .tower.wood_tower.top-right-bottom {
  background-position: 0px -280px;
}
#render-board .tower.wood_tower.top-right-bottom-left {
  background-position: -40px -280px;
}
#render-board .tower.wood_tower.top-bottom-left {
  background-position: -80px -280px;
}
#render-board .tower.wood_tower.top-right {
  background-position: 0px -320px;
}
#render-board .tower.wood_tower.top-right-left {
  background-position: -40px -320px;
}
#render-board .tower.wood_tower.top-left {
  background-position: -80px -320px;
}

#render-board .tower.wood_tower.alone {
    background-color: yellow;
}
/*------------------------------- ZOMBIES ------------------------------------*/
.zombie {
  width: 40px;
  height: 40px;
  position: absolute;
  transition: transform .2s;
  background: url(../images/texture/zombie.png);
}
.being_hurt {
  background-color: red;
}
.dead:before {
  content: "死";
  display: inline-block;
  margin-top: -0.5em;
}
.zombie.move {
  background-position-y: 0;
  animation: zombie_move 0.8s steps(16) infinite;
}
.zombie.idle {
  background-position-y: -40px;
  animation: zombie_idle 0.8s steps(16) infinite;
}
.zombie.attk {
  background-position-y: -80px;
  animation: zombie_attk 0.8s steps(8) infinite;
}
.zombie.right {
  transform: rotate(0deg);
}
.zombie.bottomright {
  transform: rotate(45deg);
}
.zombie.bottom {
  transform: rotate(90deg);
}
.zombie.bottomleft {
  transform: rotate(135deg);
}
.zombie.left {
  transform: rotate(180deg);
}
.zombie.topleft {
  transform: rotate(225deg);
}
.zombie.top {
  transform: rotate(270deg);
}
.zombie.topright {
  transform: rotate(315deg);
}
@keyframes zombie_idle {
  100% {
    background-position-x: -640px;
  }
}
@keyframes zombie_move {
  100% {
    background-position-x: -640px;
  }
}
@keyframes zombie_attk {
  100% {
    background-position-x: - 320px;
  }
}
