#GUI:not('.pinned') {
    width: 360px;
    position: absolute;
    top: 2rem;
    right: 0;
    height: calc(100% - 4rem);
}

#GUI > div {
    transition: right .2s;
    position: absolute;
    height: calc(100% - 4rem);
    top: 2rem;
    width: 360px;
}

#GUI.collapsed > div { right: -360px; }

#GUI > div, #GUI.pinned > div { right: 2rem; }

#GUI-TOGGLE {
    transition: opacity .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    position: absolute;
    content: "<<<";
    width: 20px;
    right: 0;
    top: 0;
    height: 100%;
    opacity: .2;
}

#GUI-TOGGLE p {
    word-break: break-all;
    color: white;
    font-weight: bold;
    padding: 5px;
}

#GUI-TOGGLE:hover,
#GUI.pinned p {
    opacity: 1;
}

#GUI ul {
    width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    padding: 5px 10px;
    background-color: green;
    border: 0;
    border-radius: 5px;
    color: white;
    text-shadow: -1px 1px 1px black;
}

.button:hover {
    text-shadow: 1px -1px 1px black;
    box-shadow: inset -1px 1px 5px #555;
}

/*--------------------- EDIT BOARD ---------------------*/
#edit-board{
    position: relative;
    overflow: visible;
}

#edit-board td {
    border: 1px solid #2dd00047;
    vertical-align: top;
}

/*--------------------- RENDERER ---------------------*/
#render-board{
    position: relative;
    overflow: visible;
    zoom: .9;
}

#render-board .path {
    background-color: #ffff0042;
}

/*--------------------- inventory ---------------------*/
#inventory {
    display:flex;
    /* flex-basis: 290px; */
    /* background: green; */
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

/*------------------------ Ressource-------------------------*/
#stock .bloc {
    margin: 0;
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
}

#stock input {
    width: 4em;
}

/*--------------------- Caracters Stats ---------------------*/

.characterStats {
    width: 250px;
    line-height: .9;
}

